@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

:root {
    --color: #ffd47d;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

.container {
    padding-right: 24%;
	padding-left: 24%;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -12vh;
}

.card {
    background-color: white;
    padding: 24px 36px;
    border-radius: 4px;
    color: black;
    /* box-shadow: 6px 6px var(--color);
    transform: translate(-6px, -6px); */
    /* box-shadow: 0px 8px 16px rgba(36,36,36,0.5); */
    border: 2px solid black
}

article:not(:last-child) {
    margin-bottom: 32px;
}

article h2 {
    margin: -24px -36px 36px -36px;
    padding: 24px 36px;
    background-color: var(--color);
    border-bottom: 2px solid black;
    border-radius: 2px 2px 0 0;
}

section h3 {
    margin-top: 24px;
}

article .content:not(:last-child) {
    margin-bottom: 54px;
}

article .button, section .button {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    margin-bottom: 16px;
    gap: 12px;
}

article img, section img{
    /* aspect-ratio: 3/2; */
    max-height: 500px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#content {
    flex-basis: 75%;
}

#aside {
    flex-basis: 25%;
}

aside {
    margin-left: 24px;
    overflow-wrap: break-word;
}

aside h3, aside table p {
    text-align: center;
}

aside table {
    margin: 0 auto;
}

aside td {
    vertical-align: top;
    padding: 4px 8px;
}

aside .bold {
    text-align: center;
    font-weight: bold;
}

.experience {
    display: flex;
    align-items: center;
    gap: 32px;
}

.experience img {
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
    max-width: 84px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.experience:not(:last-child) {
    margin-bottom: 36px;
}

.experience .detail h3 {
    margin: 0;
    margin-bottom: 4px;
}

.profile {
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 80%;
    max-width: 320px;
}

footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    background-color: #111;
    border-top: 1px rgba(255,255,255,0.25) solid;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto 0;
}

.link {
    color: white;
    list-style: none;
    flex-grow: 1;
    flex-wrap: wrap;
}

.link li {
    margin-right: 48px;
    cursor: pointer;
    transition: 0.15s ease-out;
}

.link li:hover {
    transform: scale(1.1);
}

.link li:active {
    transform: scale(0.95);
}

.media a {
    padding: 8px;
    margin-left: 8px;
}

.media img {
    margin-top: 4px;
    width: 28px;
}

.logo {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 32px;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.15s ease;
}


@media screen and (min-width: 960px) {
    .logo:hover {
        background-color: var(--color);
        border: 2px solid black;
        transform: translateY(8px);
    }
    
    .logo:active {
        transform: scale(0.95);
    }
}

.main-title {
    font-size: 6rem;
    margin: 0;
    margin-left: -8px;
    margin-bottom: 8px;
}

nav {
    background-color: white;
    border-bottom: 2px black solid;
    position: fixed;
    height: 75px;
    width: 100%;
    color: black;
    z-index: 999;
}

nav .nav-li {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-li ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: auto 0;
}

.nav-li ul li {
    box-sizing: content-box;
    margin-right: -2px;
    padding: 24px;
    cursor: pointer;
    transition: 0.15s ease;
    border: 2px solid transparent;
    border-radius: 4px;
}

.nav-li ul li:hover {
    background-color: var(--color);
    border: 2px solid black;
    transform: translateY(6px);
}

.nav-li ul li:active {
    transform: scale(0.95);
}

.hamburger-btn {
    z-index: 10000;
    margin: auto 0;
    padding: 8px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 36px;
}

.hamburger .icon-bar {
    height: 3px;
    border-radius: 1px;
    background-color: black;
}

.menu {
    position: fixed;
    z-index: 1;
    width: 50vw;
    max-width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    right: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    background-color: white;
    border-left: 2px solid black;
    list-style: none;
}

.menu li {
    margin: 0 16px;
    padding: 16px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.15s ease;
}

.menu li:hover {
    border: 2px solid black;
    background-color: var(--color);
}

.menu li:active {
    transform: scale(0.95);
}

.nav-li label {
    cursor: pointer;
}

.input-box + label .icon-bar{
    transition: all 0.3s ease;
}

.input-box + label .top-bar, .input-box + label.bottom-bar {
    transform: rotate(0);
}

.input-box + label .middle-bar {
    opacity: 1;
}

.input-box:checked + label .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.input-box:checked + label .middle-bar {
    opacity: 0;
}

.input-box:checked + label .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

@media screen and (min-width: 960px) {
    .hamburger-btn {
        display: none;
    }
}

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg,
        rgba(20,16,14,0.6), transparent, transparent),
        url('./imgs/jumbotron1.jpg ');
    background-size: cover;
    background-position: 25% 50%;
    width: 100%;
    min-height: 90vh;
    border-bottom: 2px solid black;
}

.jumbotron .title {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.jumbotron button {
    margin-top: 48px;
    margin-bottom: 36px;
    margin-right: 16px;
}

.text-highlight {
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 6px 6px 0px var(--color);
}   

.h-spacer {
    background-color: black;
    width: 80px;
    height: 2px;
    border-radius: 2px;
}

.v-spacer {
    background-color: #ffffff33;
    margin: 0 48px;
    width: 1px;
}

@media screen and (max-width: 2100px){
    .container {
        padding-left: 16%;
        padding-right: 16%;
    }
}

/* Container for smaller desktop */
@media screen and (max-width: 1280px){
    .container {
        padding-right: 4%;
        padding-left: 4%;
    }
}

@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }
    aside {
        margin-left: 0;
        margin-top: 36px;
        max-width: 100%;
        height: auto;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .link li {
        margin: 8px 16px;
    }

    .media a {
        margin: 8px;
    }

    .logo {
        padding: 0;
    }

    .jumbotron .title {
        align-items: center;
        text-align: center;
    }

    .jumbotron .button {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }
    .jumbotron button {
        margin: 8px;
    }
    .nav-li ul {
        display: none;
    }

    nav ul li {
        margin: 0 5vw;
    }
}

@media screen and (max-width: 513px) {
    aside {
        margin-top: 5vw;
    }
    article h2 {
        margin: -16px;
        margin-bottom: 16px;
        padding: 16px 16px;
    }
    
    article:first-child {
        margin-top: 5vw;
    }

    .experience {
        margin: 0;
        margin-top: 16px;
    }

    .experience:not(:last-child) {
        margin-bottom: 16px;
    }

    .experience img {
        width: 64px;
    }

    article .button, section .button {
        flex-direction: column-reverse;
    }

    main {
        top: 0;
        margin-bottom: 36px;
    }

    nav {
        height: 64px;
    }
    .jumbotron {
        min-height: 100vh;
    }

    .main-title {
        font-size: 4rem;
    }

    .card {
        padding: 16px;
    }

    .link {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .experience {
        flex-direction: column;
        gap: 16px;
    }

    .main-title {
        font-size: 3rem;
    }
}