@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

:root {
    --color: #ffd47d;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

.container {
    padding-right: 24%;
	padding-left: 24%;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -12vh;
}

.card {
    background-color: white;
    padding: 24px 36px;
    border-radius: 4px;
    color: black;
    /* box-shadow: 6px 6px var(--color);
    transform: translate(-6px, -6px); */
    /* box-shadow: 0px 8px 16px rgba(36,36,36,0.5); */
    border: 2px solid black
}

article:not(:last-child) {
    margin-bottom: 32px;
}

article h2 {
    margin: -24px -36px 36px -36px;
    padding: 24px 36px;
    background-color: var(--color);
    border-bottom: 2px solid black;
    border-radius: 2px 2px 0 0;
}

section {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 16px;
}

section h3 {
    margin-top: 24px;
}

article .content:not(:last-child) {
    margin-bottom: 64px;
}

article .button, section .button {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    margin-bottom: 16px;
    gap: 12px;
}

article img, section img{
    /* aspect-ratio: 3/2; */
    max-height: 500px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#content {
    flex-basis: 75%;
}

#aside {
    flex-basis: 25%;
    margin-left: 24px;
}

aside {
    overflow-wrap: break-word;
}

aside:not(:last-child) {
    margin-bottom: 32px;
}

aside h3, aside table p {
    text-align: center;
}

aside table {
    margin: 0 auto;
}

aside td {
    vertical-align: top;
    padding: 4px 8px;
}

aside .bold {
    text-align: center;
    font-weight: bold;
}

.list {
    margin-bottom: 32px;
}

.list:last-child {
    margin-bottom: 16px;
}

.list-title {
    font-weight: bold;
}

.list-item {
    display: flex;
    align-items: center;
}

.list-item:not(:last-child) {
    margin-bottom: 12px;
}

.list-item p {
    margin: 0;
}

.list-item .number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    border-radius: 99px;
    font-weight: bold;
    margin-right: 16px;
    background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(to right,  #05b0f4, #01fa86) border-box;
    box-shadow: 0px 10px 20px #03d4bf33;
    border: 2px solid transparent;
}

.experience {
    display: flex;
    align-items: center;
}

.experience img {
    margin-right: 32px;
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
    width: 84px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.experience .detail h3 {
    margin: 0;
    margin-bottom: 4px;
}

.profile {
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 80%;
}

.show-more {
    box-sizing: content-box;
    margin: -24px -36px;
    padding: 24px 36px;
    width: 100%;
    border: none;
    border-top: 2px solid black;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: all ease 0.15s;
    color: black;
    background-color: white;
    border-radius: 2px 0;
}

.show-more:hover {
    background-color: #ffd47d;
}

footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    background-color: #111;
    border-top: 1px rgba(255,255,255,0.25) solid;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto 0;
}

.link {
    color: white;
    list-style: none;
    flex-grow: 1;
}

.link li {
    margin-right: 48px;
    cursor: pointer;
    transition: 0.15s ease-out;
}

.link li:hover {
    transform: scale(1.1);
}

.link li:active {
    transform: scale(0.95);
}

.media a {
    padding: 8px;
    margin-left: 8px;
}

.media img {
    margin-top: 4px;
    width: 28px;
}

.logo {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 32px;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.15s ease;
}

.logo:hover {
    background-color: var(--color);
    border: 2px solid black;
    transform: translateY(8px);
}

.logo:active {
    transform: scale(0.95);
}

.main-title {
    font-size: 6rem;
    margin: 0;
    margin-left: -8px;
    margin-bottom: 8px;
}

nav {
    background-color: white;
    border-bottom: 2px black solid;
    position: fixed;
    height: 75px;
    width: 100%;
    color: black;
    z-index: 999;
}

nav .nav-li {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: auto 0;
}

nav ul li {
    /* margin-left: 64px; */
    box-sizing: content-box;
    margin-right: -2px;
    padding: 24px;
    cursor: pointer;
    transition: 0.15s ease;
    border: 2px solid transparent;
    border-radius: 4px;
}

nav ul li:hover {
    /* transform: scale(1.1); */
    background-color: var(--color);
    border: 2px solid black;
    transform: translateY(6px);
}

nav ul li:active {
    transform: scale(0.95);
}

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg,
        rgba(20,16,14,0.6), transparent, transparent),
        url('./imgs/jumbotron1.jpg ');
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 90vh;
    border-bottom: 2px solid black;
}

.jumbotron .title {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.jumbotron button {
    margin-top: 48px;
    margin-bottom: 36px;
    margin-right: 16px;
}

.text-highlight {
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 6px 6px 0px var(--color);
}   

.h-spacer {
    background-color: black;
    width: 80px;
    height: 2px;
    border-radius: 2px;
}

.v-spacer {
    background-color: #ffffff33;
    margin: 0 48px;
    width: 1px;
}

@media screen and (max-width: 2100px){
    .container {
        padding-left: 16%;
        padding-right: 16%;
    }
}

/* Container for smaller desktop */
@media screen and (max-width: 1280px){
    .container {
        padding-right: 4%;
        padding-left: 4%;
    }
}

/*   */
@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }
    aside {
        margin-left: 0;
        max-width: 100%;
        height: auto;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .link li {
        margin: 8px 16px;
    }

    .media a {
        margin: 8px;
    }

    .logo {
        display: none;
    }

    .jumbotron .title {
        align-items: center;
        text-align: center;
    }

    .jumbotron .button {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }
    .jumbotron button {
        margin: 8px;
    }
    nav .nav-li {
        justify-content: center;
        margin: 0 auto;
    }

    nav ul li {
        margin: 0 5vw;
    }

    section .button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 513px) {
    section .button {
        flex-direction: column-reverse;
    }
    section .button button {
        margin: 8px 16px;
    }

    main {
        top: 0;
        margin-bottom: 36px;
    }

    nav {
        height: 56px;
    }
    .jumbotron {
        min-height: 100vh;
    }

    .card {
        padding: 10px 16px;
    }
}